<?xml version="1.0"?>
<model>
  <name>marker9_10cm</name>
  <version>1.0</version>
  <description>
    Aruco marker 9 of 10 cm side length
  </description>
  <author>
    <name>Jordi Pages</name>
    <email>jordi.pages@pal-robotics.com</email>
  </author>
  <sdf version='1.3'>marker9_10cm.sdf</sdf>
</model>


