<?xml version="1.0"?>
<robot name="lidar_gazebo_macro" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--xacro:include filename="$(find mr_ramingo)/urdf/utility_macro.xacro" /-->
  
  <xacro:macro name="camera"> 
    <link name="camera_link">
		<!--
    <collision>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
		-->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.02 0.02"/>
      </geometry>
      <material name="Red"/>
    </visual>
		<!--
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
		-->
  </link>

	<joint name="camera_joint" type="fixed">
		<parent link="base_link" />
		<child link="camera_link" />
		<origin xyz="0.11 0.0 0.0" rpy="0 1.57 0"/>
	</joint>


  <link name="aruco_camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.02 0.02"/>
      </geometry>
      <material name="Red"/>
    </visual>
  </link>

	<joint name="aruco_camera_joint" type="fixed">
		<parent link="camera_link" />
		<child link="aruco_camera_link" />
		<origin xyz="0 0.0 0.0" rpy="0 0 1.57"/>
	</joint>

  </xacro:macro>
</robot>