<?xml version="1.0" ?>

<launch>

    <!-- Set arguments passed to the empty_world.launch launch file (included below) -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- The world model we are going to include uses custom object models (the gray_walls model) -->
    <!-- We must inform Gazebo about the LOCATION of the models otherwise the simulator will not be able to find them -->
    <!-- The GAZEBO_MODEL_PATH is an environment variable and can be modified in this launch file-->
    <!-- Models file can be created by us using CAD files or basic shapes or downloaded from internet-->
    <env name="GAZEBO_MODEL_PATH" value="$(find gazebo_launch_example)/models:$(optenv GAZEBO_MODEL_PATH)" />

    <!-- From a launch file we can INCLUDE other launch files to start multiple ROS nodes -->
    <!-- From a launch file we can INCLUDE other launch files to start multiple ROS nodes -->
    <!-- We include the default launch file of gazebo to simplify this launch file -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!--We can overwrite the default world file (an empty scene) modifing the world name parameter-->
        <!--We must set this parameter to the .world file that we want to start-->
        <!--We can use the find command to search the world configuration file defined in ROS packages-->
        <arg name="world_name" value="$(find gazebo_launch_example)/worlds/walls.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
</launch>
